@import "./Variables.sass"

div.menuIcon
    position: fixed

    width: 40px
    top: 50%
    transform: translateY(-50%)
    right: $widthOfNav + 10px
    display: flex
    flex-direction: column

    div
        background-color: black
        height: 4px
        margin: 3px
        border-radius: 2px