@import "./Variables.sass"

div.menuIcon
    position: fixed
    height: 50px
    width: 50px
    top: 50%
    transform: translateY(-50%)
    background-color: red
    right: $widthOfNav

    div
        width: 100%
        height: 33%
        margin: 10px
